<div class="container">
  <div class="card">
      <div class="card-header">
          <h2>Excepcion Supervisor Inmediato</h2>
          <!-- {{fg.value|json}} -->
      </div>
      <div class="card-body">
        <form [formGroup]="fg" (ngSubmit)="grabar()">        
          
          <div class="form-group">
            <label for="empleado">Empleado:</label>   
            <span *ngIf="empleadoNombre">{{ empleadoNombre }}</span>
            <button type="button" class="btn btn-outline-success" (click)="Buscar('Empleado','Empleado')">Buscar Empleado</button>
          </div>

          <div class="form-group">
            <label for="departamentoOriginal">Departamento Original:</label>    
            <span *ngIf="departamentoOriginalNombre">{{ departamentoOriginalNombre }}</span>
            <button type="button" class="btn btn-outline-success" (click)="Buscar('Departamento','departamentoOriginalId')">Buscar Departamento</button>
          </div>

          <div class="form-group">
            <label for="jefeOriginal">Supervisor Original:</label>    
            <span *ngIf="jefeOriginalNombre">{{ jefeOriginalNombre }}</span>
            <button type="button" class="btn btn-outline-success" (click)="Buscar('Empleado','jefeOriginalId')">Buscar Empleado</button>
          </div>

          <div class="form-group">
            <label for="nuevoJefe">Nuevo Supervisor:</label>  
            <span *ngIf="nuevoJefeNombre">{{ nuevoJefeNombre }}</span>
            <button type="button" class="btn btn-outline-success" (click)="Buscar('Empleado','nuevoJefeId')">Buscar Nuevo Supervisor</button>
          </div>

          <div class="form-group">
            <label for="nuevoDepartamento">Departamento del Nuevo Supervisor:</label>    
            <span *ngIf="nuevoDepartamentoNombre">{{ nuevoDepartamentoNombre }}</span>
            <button type="button" class="btn btn-outline-success" (click)="Buscar('Departamento','nuevoDepartamentoId')">Buscar Departamento del Nuevo Supervidor</button>
          </div>



          <div class="form-group">
            <label for="fechaInicio">Fecha de Inicio:</label>
            <input type="date" formControlName="fechaInicio" required>
          </div>

          <div class="form-group">
            <label for="fechaFin">Fecha de Fin:</label>
            <input type="date" formControlName="fechaFin" required>
          </div>


          <div class="button-group">
            <button type="submit" class="btn btn-primary" >Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
        </div>
        </form>
      </div>
    </div>
</div>