
<div class="container-fluid mt-5">
  <div class="card shadow-sm mb-4">
    <div class="card-header bg-light">
      <h1 class="text-primary mb-4">Agregar Metas para Puestos Subordinados</h1>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-header ">
            <h3 class="h5 mb-0">Puestos Subordinados</h3>
          </div>
          <div class="card-body">
            <input type="text" class="form-control mb-3" placeholder="Buscar puestos..." 
            [(ngModel)]="searchTerm" (input)="searchPositions()">

            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let position of filteredPositions" 
                  (click)="selectPosition(position)"
                  [class.active]="position.secuencial === selectedPosition.secuencial">
                {{ position.descripcion }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8" *ngIf="selectedPosition">
        <div class="card shadow">
          <div class="card-header bg-primary text-white">
            <h3 class="h5 mb-0">Metas para: {{ selectedPosition.descripcion }}</h3>
          </div>
          <div class="card-body">
          
            <button type="submit" class="btn btn-primary mb-3" (click)="addGoal()">Agregar Meta</button>
            <h4 class="mt-4 mb-3">Metas Existentes:</h4>

            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <app-tables 
            [arraydatos]="metas"
            campokey="id"
            (accion)="opcion($event)"            
            (paginacambio)="paginacambio($event)"
            (idtable)="actualizaelidtable($event)" 
            [campos]="campos"
            [titulos]="tituloslocal"
            [term]="term"
            [totalregistros]="metas.length"
            [currentPage]="actualpage"
            [config]="config"
            
          ></app-tables>
        </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-secondary" (click)="onFinish()">Terminar y Regresar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>