<div class="container">
  <h2>{{titulo}}</h2>

  <form class="edit-form" id="editKpiForm" [formGroup]="fg">
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" id="id" name="id" formControlName="id" readonly>
    </div>

    <div class="form-group">
      <label for="kriId">KRI</label>
      <select class="form-control" id="kriId" name="kriId" formControlName="kriId" required>
        <option selected value="0">Selecione un KRI</option>
        <option *ngFor="let kri of kris" [value]="kri.id">{{kri.descripcion}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <input type="text" id="descripcion" name="descripcion" formControlName="descripcion" required>
      <div *ngIf="fg.get('descripcion')?.invalid && (fg.get('descripcion')?.dirty || fg.get('descripcion')?.touched)" class="alert alert-danger">
        <div *ngIf="fg.get('descripcion')?.errors?.['required']">
          La descripción es requerida.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="valor">Valor</label>
      <input type="number" id="valor" name="valor" formControlName="valor" required min="0">
      <div *ngIf="fg.get('valor')?.invalid && (fg.get('valor')?.dirty || fg.get('valor')?.touched)" class="alert alert-danger">
        <div *ngIf="fg.get('valor')?.errors?.['required']">
          El valor es requerido.
        </div>
        <div *ngIf="fg.get('valor')?.errors?.['min']">
          El valor debe ser mayor o igual a 0.
        </div>
      </div>
    </div>

    <div class="text-center pt-1 mb-5 pb-1">
      <div class="d-grid gap-2">
        <button class="btn btn-success btn-block mb-3" (click)="grabar()" type="button" [disabled]="fg.invalid">Grabar</button>
        <button class="btn btn-secondary btn-block" type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </form>
</div>

