<div class="container">
  <app-form-evaluation-employe
    *ngIf="periodo.tipo !== 'medio_ano'"
    [empleado]="empleado"
    [periodo]="periodo"
    titulo="AutoEvaluacion"
    (dataEmitter)="cancelar()"
    (puntuacion)="onPuntuacion($event)">
  </app-form-evaluation-employe> 

  <app-form-evaluation-medio-ano
    *ngIf="periodo.tipo === 'medio_ano'"
    [empleado]="empleado"
    [periodo]="periodo"
    titulo="AutoEvaluación de Medio Año"
    (dataEmitter)="cancelar()">
  </app-form-evaluation-medio-ano> 
</div>


