<div class="container">
  <h1 class="title">Objetivo Estratégico</h1>
  
  <div class="form-container">
    <form  [formGroup]="Formgrup">
      <!-- Descripción -->
      <div class="form-group">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea
          formControlName="descripcion"
          id="descripcion"
          class="form-textarea"
          placeholder="Ingrese la descripción del objetivo estratégico"
        ></textarea>
      </div>
  
      <!-- Plan Estratégico -->
      <div class="form-group">
        <label for="planExtrategicoModelId" class="form-label">Plan Estratégico</label>
        <select 
          id="planExtrategicoModelId" 
          class="form-select"
          formControlName="planExtrategicoModelId"  
          (change)="onplanSelect($event)" 
          required>
          <option selected value="0">Selecione un plan</option>
          <option *ngFor="let p of planesEstrategicos" [value]="p.id">{{ p.descripcion }}</option>          
        </select>
      </div>

      <!-- Perspectivas -->
      <div class="form-group">
        <label for="perspectivaId" class="form-label">Perspectivas</label>
        <select 
          id="perspectivaId" 
          class="form-select" 
          formControlName="perspectivaId">
          <option selected value="0">Selecione una Perspectivas</option>
          <option *ngFor="let p of perpectiva" [value]="p.id">{{ p.nombre }}</option>      
        </select>
      </div>

      <!-- Objetivo por Años -->

     <!-- <div class="table-section">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="subtitle">KRIs por Años</h2>
          <button type="button" class="btn btn-primary" (click)="agregarFila()">
            <i class="fas fa-plus"></i> Agregar
          </button>
        </div> -->
        <app-kris></app-kris>
     


      <!-- Botones -->
      <div class="button-container">
        <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="guardar()">Guardar</button>
      </div>
    </form>
  </div>
</div>
  