<div class="container">
  <h2>Formulario de Excepciones</h2>
  <form (ngSubmit)="agregarExcepcion()" [formGroup]="formGroup" >
    <div class="mb-3">
      <label for="nombre" class="form-label">Tipo</label>      
      <select class="form-control" formControlName="tipo">
        <option value="">Seleccione un Tipo</option>
        <option value="cambiosupervidor">Cambio de Supervisor</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="empleadoSecuencial" class="form-label">Empleado</label>
      <input type="text" class="form-control" id="empleadoSecuencial" name="empleadoSecuencial" formControlName="empleadoSecuencial"  hidden>
      <input type="text" class="form-control" id="empleadoSecuencial" name="empleadoSecuencial" [(ngModel)]="excepcionmodel.nombreempleado"  readonly>
      <button class="btn btn-secondary btn-block" type="button" (click)="BuscarEmpleado()">Buscar Empleado</button>
    </div>
    <div class="mb-3">
      <label for="detalles" class="form-label">Detalle</label>
      <textarea class="form-control" id="detalles" name="detalles" formControlName="detalles" ></textarea>
    </div>
    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha</label>
      <input type="text" class="form-control" id="fecha" name="fecha" formControlName="fecha" >
    </div>
    <div class="mb-3">
      <label for="activa" class="form-label">Estatus</label>
      <input type="checkbox"  id="activa" name="activa" formControlName="activa" >
    </div>
    <div class="text-center pt-1 mb-5 pb-1">
      <div class="d-grid gap-2">
        <button class="btn btn-success btn-block mb-3" type="submit" type="button" [disabled]="!excepcionForm.form.valid" >Grabar</button>
        <button class="btn btn-secondary btn-block" type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </form>

  