<div class="form-container">
  <h2 class="form-title">{{ data.model.id === 0 ? 'Nuevo' : 'Editar' }} Rol Categoría Puesto</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" placeholder="Ingrese la descripción">
        <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
          La descripción es requerida
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Categorías de Puesto</mat-label>
        <mat-select formControlName="categorias" multiple >
          <mat-option *ngFor="let categoria of categoriasDisponibles" [value]="categoria.id">
            {{categoria.descripcion}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('categorias')?.hasError('required')">
          Debe seleccionar al menos una categoría
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button type="button" mat-stroked-button color="warn" (click)="onCancel()">
        Cancelar
      </button>
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">
        {{ data.model.id === 0 ? 'Crear' : 'Actualizar' }}
      </button>
    </div>
  </form>
</div>
