
  <form id="evaluationForm" (ngSubmit)="onSubmit()">
    <h1>{{titulo}}</h1>
    <h3>Periodo:{{periodo.descripcion}}</h3>
    <p>Fecha:{{fecha | date}}</p>
    <div class="performance-criteria">
      <app-criterialitem 
        [empleado]="empleado"
        [periodo]="periodo"
      ></app-criterialitem>
    </div>
    
    <label for="comments">Additional Comments:</label>
    <textarea id="comments" name="comments"></textarea>

    <button type="submit">Submit Evaluation</button>
    <button type="cancelar" (click)="cancelar()">Cancelar</button>
  </form>
