.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.empleadotitulo {
  margin-bottom: 20px;
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 5px;
  padding: 5px;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="cancelar"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ec0c7c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

button[type="cancelar"]:hover {
  background-color: #cf7a0b;
}
.seccion-firmas {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding: 20px;
}

.firma {
  text-align: center;
  width: 300px;
}

.linea-firma {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  width: 100%;
}
