<div class="container">
  <h2>Mantenimiento de Roles</h2>
  
  <form class="edit-form" id="editRoleForm" [formGroup]="fg">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" formControlName="name" required>
    </div>
    
    <div class="form-group">
      <label for="nivel">Nivel</label>
      <input type="number" id="nivel" name="nivel" formControlName="nivel" required>
    </div>
    
    <div class="text-center pt-1 mb-5 pb-1">
      <div class="d-grid gap-2">
        <button class="btn btn-success btn-block mb-3" (click)="grabar()" type="submit">Grabar</button>
        <button class="btn btn-secondary btn-block" type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </form>
</div>