

<!-- criterialitem.component.html -->
<div *ngIf="evaluacion.evaluacionGoals.length>0">
  <h2>Competencias</h2>
  <div class="criteria-section" *ngFor="let met of evaluacion.evaluacionGoals; let index=index">
    <h3>{{met.goal.objetivo.nombre}}</h3>
    <div class="criteria-item">
      <div class="criteria-info">
        <div class="criteria-name">{{met.goal.name}}</div>
        <div class="criteria-weight">Peso: {{met.goal.weight}}%</div>
        <div class="criteria-description">
          <strong>Descripcion:</strong>
          <div class="description-text">{{met.goal.objetivo.descripcion}}</div>
        </div>
      </div>
      <app-emojirating class="emoji-container"></app-emojirating>
    </div>
  </div>
</div>
<div *ngIf="evaluacion.evaluacionDesempenoMetas.length>0">
  <h2>Desempeño</h2>
  <div class="criteria-section" *ngFor="let desemp of evaluacion.evaluacionDesempenoMetas; let index=index">    
    <h3>{{desemp.tipo}}</h3>
    <div class="criteria-item">
      <div class="criteria-info">
        <div class="criteria-description">
          <div class="description-text">{{desemp.descripcion}}</div>
        </div>
        <div class="criteria-weight">Peso: {{desemp.meta}}%</div>
      </div>
      <app-emojirating class="emoji-container"></app-emojirating>
    </div>
  </div>
</div>