
<div >
  <h2>Desempeño</h2>
  <!-- <div class="criteria-section" *ngFor="let desemp of evaluacion.evaluacionDesempenoMetas; let index=index">    
    <h3>{{desemp.tipo}}</h3>
    <div class="criteria-item">
      <div class="criteria-info">
        <div class="criteria-description">
          <div class="description-text">{{desemp.descripcion}}</div>
        </div>
        <div class="criteria-weight">Meta: {{desemp.meta}}%</div>
      </div>
      <label for="evaluacion">Logro:</label>
      
      <input type="number" [(ngModel)]="logro[index]" name="evaluacion" min="1" max="100">  


    </div>*ngIf="desempeno.length > 0"
  </div> -->
  <div  class="table-responsive">
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th>Perspectiva</th>
          <th>Objetivo</th>
          <th>Tipo</th>
          <th>Inverso</th>
          <th class="text-end">Meta</th>
          <th class="text-end">Logro</th>
          <th class="text-end">%</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of desempeno; let index=index">
          <td>{{row.perspectiva}}</td>
          <td>{{row.objetivo}}</td>
          <td>{{row.tipo}}</td>
          <td>
            <input type="checkbox" [(ngModel)]="row.inverso" name="inverso" readonly>
          </td>
          <td class="text-end">{{row.meta}}</td>
          <td class="text-end">
            <input type="number" (change)="onLogroChange($event, index)" [(ngModel)]="logro[index]" name="evaluacion" min="1" max="100">
          </td>
          <div *ngIf="!row.inverso">
            <td class="text-end" > {{ (logro[index]/row.meta)*100 | number:'1.2-2'}}</td>
          </div>
          <div *ngIf="row.inverso">
            <td class="text-end"  > {{ (row.meta/logro[index])*100 | number:'1.2-2'}}</td>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- criterialitem.component.html -->
<div *ngIf="evaluacion.evaluacionGoals.length>0">
  <h2>Competencias</h2>
  <div class="criteria-section" *ngFor="let met of evaluacion.evaluacionGoals; let index=index">
    <h3>{{met.goal.objetivo.nombre}} {{index}} </h3>
    <div class="criteria-item">
      <div class="criteria-info">        
        <div class="criteria-weight">Peso: {{met.goal.weight}}%</div>
        <div class="criteria-description">
          <strong>Descripcion:</strong>
          <div class="description-text">{{met.goal.objetivo.descripcion}}</div>
        </div>
      </div>
      <app-emojirating class="emoji-container"  [namex]="index"
      [goalempleadorepuesta]="evaluacion.goalEmpleadoRespuestas[index]"
      (selecionemoji)="onRespuestaChange($event,index)"></app-emojirating>
    </div>
  </div>
</div>
