<div class="container">
  <h2>{{titulo}}</h2>
  <form [formGroup]="fg" (ngSubmit)="grabar()">
    <div class="form-group">
      <label for="empleado">Empleado</label>
      <div class="input-group">
        <input type="text" class="form-control" id="empleado" readonly [value]="selectedEmpleado?.nombreunido || 'Seleccione un empleado'" required>
        <button type="button" class="btn btn-outline-secondary" (click)="buscarEmpleado()">
          Buscar Empleado
        </button>
      </div>
     
      <div class="invalid-feedback" *ngIf="fg.get('secuencialId')?.errors?.['required'] && fg.get('secuencialId')?.touched">
        El empleado es requerido
      </div>
    </div>

    <div class="form-group">
      <label for="tipo">Tipo</label>
      <select class="form-control" id="tipo" formControlName="tipo" required>
        <option value="">Seleccione un tipo</option>
        <option *ngFor="let tipo of tipoOptions" [value]="tipo">{{tipo}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="fg.get('tipo')?.errors?.['required'] && fg.get('tipo')?.touched">
        El tipo es requerido
      </div>
    </div>

    <div class="form-group">
      <label for="peso">Peso (%)</label>
      <input type="number" class="form-control" id="peso" formControlName="peso" required min="1" max="100">
      <div class="invalid-feedback" *ngIf="fg.get('peso')?.errors?.['required'] && fg.get('peso')?.touched">
        El peso es requerido
      </div>
      <div class="invalid-feedback" *ngIf="(fg.get('peso')?.errors?.['min'] || fg.get('peso')?.errors?.['max']) && fg.get('peso')?.touched">
        El peso debe estar entre 1 y 100
      </div>
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea class="form-control" id="descripcion" formControlName="descripcion" required rows="3"></textarea>
      <div class="invalid-feedback" *ngIf="fg.get('descripcion')?.errors?.['required'] && fg.get('descripcion')?.touched">
        La descripción es requerida
      </div>
    </div>
    <div class="form-group">
      <label for="perspectiva">Descripción</label>
      <textarea class="form-control" id="perspectiva" formControlName="perspectiva" required rows="3"></textarea>
      <div class="invalid-feedback" *ngIf="fg.get('perspectiva')?.errors?.['required'] && fg.get('perspectiva')?.touched">
        La Perspectiva es requerida
      </div>
    </div>
    <div class="form-group">
      <label for="meta">Meta (%)</label>
      <input type="number" class="form-control" id="meta" formControlName="meta" required min="0" max="100">
      <div class="invalid-feedback" *ngIf="fg.get('meta')?.errors?.['required'] && fg.get('meta')?.touched">
        La meta es requerida
      </div>
      <div class="invalid-feedback" *ngIf="(fg.get('meta')?.errors?.['min'] || fg.get('meta')?.errors?.['max']) && fg.get('meta')?.touched">
        La meta debe estar entre 0 y 100
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="inverso" formControlName="inverso">
        <label class="form-check-label" for="inverso">Inverso</label>
      </div>
    </div>

    <div class="button-group">
      <button type="submit" class="btn btn-primary" [disabled]="!fg.valid">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
