<div class="card">
    
    <h3>{{rolcategoriapuesto}}</h3>

        
     
    <div *ngIf="empleado.esjefatura==1">
        <button *ngIf="mostrarboton" (click)="subdelsub()" [ngStyle]="getButtonStyle()">Mostrar Subordinados del Empleado</button>
    </div>
    <div class="employee-photo">
        <img src="./././assets/user.png" alt="Employee photo" width="100" height="100">
    </div>
    <div class="employee-details">
        <p><strong>Nombre:       </strong>     {{empleado.nombreunido}} </p>
        <p><strong>Departamento: </strong>     {{empleado.departamento}}</p>
        <p><strong>Posicion:     </strong>     {{empleado.cargo}}</p>  
        <p><strong>Fecha Ingreso:</strong>     {{empleado.fechapostulacion | date : 'dd/MM/yyyy'}}</p>
        <div *ngIf="mostrarEstadoEvaluacion">
            <p><strong>Estado Autoevaluación:</strong> {{estadoAutoevaluacion}}</p>            
            <div class="evaluation-button" *ngIf="llamarevaluacion">
                <button (click)="openEvaluationForm()" [ngStyle]="getButtonStyle()">Evaluar Empleado</button>
            </div>
            <div class="evaluation-button" *ngIf="mostarenviar">
                <button  (click)="Enviar(empleado.secuencial)" [ngStyle]="getButtonStyle2()">Enviar al Empleado</button>
            </div>
        </div>
    </div>  
</div>