<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Objetivos Estratégicos</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-primary" (click)="agregar()">
              Agregar
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-4">
              <label class="form-label">Plan Estratégico</label>
              <select class="form-select" [(ngModel)]="planEstrategicoIdFiltro" (change)="filtroPorPlan()">
                <option [value]="0">-- Todos los Planes --</option>
                <option *ngFor="let plan of planesEstrategicos" [value]="plan.id">
                  {{ plan.descripcion }}
                </option>
              </select>
            </div>
            <div class="col-md-8">
              <label class="form-label">Búsqueda</label>
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="term" placeholder="Buscar por descripción...">
                <button class="btn btn-outline-secondary" type="button" (click)="filtro()">
                  Buscar
                </button>
              </div>
            </div>
          </div>
          <app-tables 
          [arraydatos]="objetivoEstrategicoService.arraymodel" 
          campokey="Id"
          (accion)="opcion($event)"
          (paginacambio)="paginacambio($event)"
          (idtable)="actualizaelidtable($event)"
          [campos]="campos" 
          [titulos]="tituloslocal"
          [term]="term"
          [totalregistros]="objetivoEstrategicoService.totalregistros"
          [currentPage]="objetivoEstrategicoService.actualpage"
          [config]="config">
          </app-tables>
        </div>
      </div>
    </div>
  </div>
</div>
