<div class="shadow p-3 mb-5 bg-body rounded my-4">
    <h2 class="mb-3">Reporte de Cursos Capacitacion Solicitados En el Periodo:{{nombredelperiodo}} </h2>
  
    <div *ngIf="loading" class="loading-container">
      <div class="spinner">Cargando...</div>
    </div>
  
    <div *ngIf="error" class="error-container">
      <div class="alert alert-danger">{{ error }}</div>
    </div>
  
    <div *ngIf="!loading && !error">
      <!-- Filters -->
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="departamento">Filtrar por Departamento:</label>
          <select id="departamento" class="form-control" [(ngModel)]="selectedDepartment" (change)="onDepartmentChange()">
            <option value="">Todos los departamentos</option>
            <option *ngFor="let dept of departments" [value]="dept">
              {{ dept }}
            </option>
          </select>
        </div>
  
        <div class="col-md-4">
          <label>Buscar:</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar..." 
                  [(ngModel)]="term" (change)="filtrar()">
            <button class="btn btn-primary" type="button">
              <i class="fa fa-search"></i>
            </button>
            <button class="btn btn-success ms-2" type="button" (click)="downloadExcel()">
              <i class="fas fa-file-excel"></i> Exportar Excel
            </button>
            
          </div>
        </div>
      </div>
  
      <!-- Table Component -->
      <app-tables 
        [arraydatos]="filteredData"
        [campos]="campos"
        [titulos]="titulos"
        [config]="config"
        [deleted]="false"
        [term]="term"
        [totalregistros]="config.totalItems"
        [currentPage]="config.currentPage"
        (paginacambio)="paginaCambio($event)"
        (idtable)="actualizarIdTable($event)"
        campokey="identificacion"
      ></app-tables>
    </div>
  </div>
