<div class="container">
  <h2>Mantenimiento de Objetivos</h2>
  
  <button (click)="onNew()" class="btn btn-primary mb-3">Nuevo Objetivo</button>

  <div  class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      
    <app-tables 
    [arraydatos]="objetivoController.arraymodel"
    campokey="id"
    (accion)="opcion($event)"
    
    (paginacambio)="paginacambio($event)"
    (idtable)="actualizaelidtable($event)" 
    [campos]="campos"
    [titulos]="tituloslocal"
    [term]="term"
    [totalregistros]="objetivoController.totalregistros"
    [currentPage]="objetivoController.actualpage"
    [config]="config"
    
  ></app-tables>  
  </div>

  