<nav class="navbar navbar-expand-lg navbar-light custom-bg">
    
    <a class="navbar-brand" href="#">
     <div class="logo-div" style="margin: auto ;"></div>
    </a>  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      
      <ul *ngIf="mostramenu" class="navbar-nav ms-auto mt-2 mt-lg-0">
      <li>
        <ul>
          <a class="nav-link active" aria-current="page" routerLink="/Home">
            Home
        </a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        
        <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Mantenimientos
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" (click)="precionado()" routerLink="/Empleado">  Empleados  </a></li>   
          <li><a class="dropdown-item" (click)="precionado()" routerLink="/Puesto"> Puestos </a></li>
          <li><a class="dropdown-item" (click)="precionado()" routerLink="/Departamento"> Departamentos </a></li>
          <li><a class="dropdown-item" (click)="precionado()" routerLink="/Meta">Metas</a></li> 
          <li><a class="dropdown-item" (click)="precionado()" routerLink="/Periodo">  Periodos  </a></li>   
          <li><a class="dropdown-item" (click)="precionado()" routerLink="/Tipo">  Tipos  </a></li> 
          <li><a class="dropdown-item" (click)="precionado()" routerLink="/Evaluacion">  AutoEvaluacion  </a></li> 
          <li><a class="dropdown-item" (click)="precionado()" routerLink="/EvaluarSubordinados">  Evaluar Equipo  </a></li> 
          <li><a class="dropdown-item" (click)="precionado()" routerLink="/PoliticaEvaluacion">  Política de Evaluación  </a></li>
          <li><a class="dropdown-item" (click)="precionado()" routerLink="/Rol">  Roles Usuarios </a></li>
          <li><a class="dropdown-item" (click)="precionado()" routerLink="/evaluation-periods">  Períodos de Evaluación  </a></li>
        </ul>
      </li>
      <li class="nav-item ">
        <a class="nav-link ">
            Dashboard
        </a>
     
      </li>
      <li>
        <ul>
          <a class="nav-link ">
            Reportes
        </a> 
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link " (click)="log()"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"  id="logout"><path d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z"/></svg>
          {{logg}}
        </a> 
      </li>
      </ul>
      
      
    </div>
  </nav>
