<div class="container">
    <h2>Agregar/Editar Grupo Competencia</h2>
    
    <form (ngSubmit)="onSubmit(grupoForm)" #grupoForm="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="model.nombre" required #nombre="ngModel">
        <div [hidden]="nombre.valid || nombre.pristine" class="error-message">
          El nombre es requerido
        </div>
      </div>
      
      <div class="text-center pt-1 mb-5 pb-1">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success btn-block mb-3" [disabled]="!grupoForm.form.valid">Guardar</button>
            <button type="button" class="btn btn-secondary btn-block"  (click)="onCancel()">Cancelar</button>        
      </div>
      </div>
    </form>
  </div>


  