<div class="container">
  <h2>{{titulo}}</h2>

  <form class="edit-form" [formGroup]="fg">
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" id="id" name="id" formControlName="id" readonly>
    </div>

    <div class="form-group">
      <label for="tipo">Tipo</label>
      <select id="tipo" name="tipo" formControlName="tipo" required readonly>
        <option *ngFor="let option of tipoOptions" [value]="option">{{option}}</option>
      </select>
      <div *ngIf="fg.get('tipo')?.invalid && (fg.get('tipo')?.dirty || fg.get('tipo')?.touched)" class="alert alert-danger">
        <div *ngIf="fg.get('tipo')?.errors?.['required']">
          El tipo es requerido.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <input type="text" id="descripcion" name="descripcion" formControlName="descripcion">
    </div>

    <div class="form-group">
      <label for="valor">Valor</label>
      <input type="number" id="valor" name="valor" formControlName="valor" required min="0" max="100">
      <div *ngIf="fg.get('valor')?.invalid && (fg.get('valor')?.dirty || fg.get('valor')?.touched)" class="alert alert-danger">
        <div *ngIf="fg.get('valor')?.errors?.['required']">
          El valor es requerido.
        </div>
        <div *ngIf="fg.get('valor')?.errors?.['min'] || fg.get('valor')?.errors?.['max']">
          El valor debe estar entre 0 y 100.
        </div>
      </div>
    </div>

    <div class="text-center pt-1 mb-5 pb-1">
      <div class="d-grid gap-2">
        <button class="btn btn-success btn-block mb-3" (click)="grabar()" type="button" [disabled]="fg.invalid">Grabar</button>
        <button class="btn btn-secondary btn-block" type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
