<div class="container">
    <div class="empleadotitulo">
      <app-card-empleado2 
        [empleado]="empleado" 
        [puntuacionFinal]="puntuacionFinal"       
          ></app-card-empleado2>

    </div>
  
    <div class="forms-container">
          <app-form-evaluation-employe
            *ngIf="periodo.tipo !== 'medio_ano'"
            [empleado]="empleado"
            [periodo]="periodo"
            [supervisor]="true"
            titulo="Evaluacion Equipo"
            (dataEmitter)="cancelar()"
            (puntuacion)="onPuntuacion($event)">
        </app-form-evaluation-employe>      

        <app-form-evaluation-medio-ano
          *ngIf="periodo.tipo === 'medio_ano'"
          [empleado]="empleado"
          [periodo]="periodo"
          [supervisor]="true"
          titulo="Evaluación de Equipo (Medio Año)"
          (dataEmitter)="cancelar()">
        </app-form-evaluation-medio-ano>
    </div>
</div>
