.container {
    max-height: 100%; 
    overflow: auto;
    margin: 10 auto;
    padding: 20px;
  }
  
  .forms-container {
    display: flex;
    gap: 20px; 
}
app-form-evaluation-employe {
  flex: 1;
}