<div class="container mx-auto px-4">
  <div class="card">
    <div class="card-header">
      <h2 class="text-2xl font-bold mb-4">KRI Año</h2>
    </div>
    <form [formGroup]="fg" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <!-- <div class="mb-4">
          <label for="kriId" class="block text-gray-700 text-sm font-bold mb-2">KRI Id</label>
          <input type="text" class="form-control" id="kriId" formControlName="kriId" placeholder="Ingrese la descripción del KRI">
        </div> -->

        <div class="mb-4">
          <label for="porcientoValor" class="block text-gray-700 text-sm font-bold mb-2">Porciento Valor</label>
         <!--  <input type="text" class="form-control" id="porcientoValor" formControlName="porcientoValor" placeholder="Ingrese la ponderación"> -->
          <select class="form-control" id="porcientoValor" formControlName="porcientovalor">
            <option>Porciento</option>
            <option>Valor</option>
          </select>
        </div>

        <div class="mb-4">
          <label for="valor" class="block text-gray-700 text-sm font-bold mb-2">Valor</label>
          <input type="number" class="form-control" id="valor" formControlName="valor">
        </div>

        <div class="mb-4">
          <label for="inverso" class="block text-gray-700 text-sm font-bold mb-2">Inverso</label>
          <input type="checkbox" class="form-check-input" id="inverso" formControlName="inverso">
        </div>

        <div class="mb-4">
          <label for="logro" class="block text-gray-700 text-sm font-bold mb-2">Logro</label>
          <input type="number" class="form-control" id="logro" formControlName="logro">
        </div>
      </div>

      <div class="button-group mt-4">
        <button type="submit" class="btn btn-primary mr-2">Grabar KRI</button>
        <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
